body{
    font: 16px/28px arial, sans-serif;
    background-image: url(geo.jpg);
    margin: 0;
}

.container{
    width: 960px;
    margin: auto;
    background-color: #FFF6EA;
}

.header{
    padding: 24px;
}

.header .judul{
    font-size: 32px;
    font-weight: bold;
}

.nav{
    margin-left: -36px;
}

.nav ul li{
    display: inline-block;
    margin-top: 5px;
    margin-right: 18px;
}

.header a{
    text-decoration: none;
    color: salmon;
}

.header a:hover{
    background-color: lightskyblue;
    color: white;
}

.hero{
    height: 330px;
    background-image: url(hero.jpg);
    background-size: cover;

}

.main{
    width: 600px;
    padding: 20px;
    box-sizing: border-box;
    float: left;
    text-align: justify;
}

.main h2{
    font-size: 32px;
    font-weight: bold;
}

.main .penulis{
    font-size: 14px;
    margin-top: -20px;
}

.main .penulis a{
    color: salmon;
    text-decoration: none;
}



.sidebar{
    width: 300px;
    float: right;
    
}

.footer{
    background-color: rgb(59, 59, 54);

}

.footer .copy{
    font-size: 16px;
    color: white;
    text-align: center;
}


.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}


